<ul class="pagination .pagination-lg">
    <li><a ng-click='costcalculationYearCtrl.previous()' style="cursor: pointer;"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
    <li><a ng-click='costcalculationYearCtrl.next()' style="cursor: pointer;"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
</ul>
<p>{{costcalculationYearCtrl.range.start| date : shortDate}}&nbsp;-&nbsp;{{costcalculationYearCtrl.range.end| date : shortDate}}</p>
<div ng-if="costcalculationYearCtrl.data === undefined">
    <div class="container" id="parent">
        <div class="row">
            <div class="col-lg-12">
                <div class="row ">
                    <div class="col-md-4 col-md-offset-4 alert alert-warning text-center">Loading...</div>
                </div>
            </div>
        </div>
    </div>
</div>
<table ng-if="costcalculationYearCtrl.data !== undefined" class="table table-hover table-bordered table-condensed table-striped table-responsive">
    <thead>
        <tr>
            <th>Activity</th>
            <th>Total</th>
            <th class='day' ng-animate=" 'animate' " ng-repeat="h in costcalculationYearCtrl.header">{{h}}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Total unaccounted</td>
            <td><amount data='{amount:costcalculationYearCtrl.totalUnAccounted}'/></td>
            <td class='day' ng-animate=" 'animate' " ng-repeat="rdata in costcalculationYearCtrl.totalNoCostcenter"><amount data='rdata'/></td>
        </tr>
        <tr>
            <td>Total accounted</td>
            <td><amount data='{amount:costcalculationYearCtrl.totalAmount}'/></td>
            <td class='day' ng-animate=" 'animate' " ng-repeat="rdata in costcalculationYearCtrl.total"><amount data='rdata'/></td>
        </tr>
        <tr>
            <td>Total</td>
            <td><amount data='{amount:costcalculationYearCtrl.totalTransaction}'/></td>
        </tr>
    </tfoot>
    <tbody>
        <tr bindonce ng-animate=" 'animate' " ng-repeat="row in costcalculationYearCtrl.data" ng-show='costcalculationYearCtrl.showRow(row)'>
            <td ng-click='costcalculationYearCtrl.selectRow(row)' ><p ng-class="row.costcenter.parent ? 'text-right' : 'text-left'">{{row.costcenter.name}}</p></td>
            <td ><amount data='row.sum'/></td>
            <td class='day' ng-repeat="rdata in row.data"><amount data='rdata'/></td>
        </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination .pagination-lg">
        <li><a ng-click='costcalculationYearCtrl.previous()' style="cursor: pointer;"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
        <li><a ng-click='costcalculationYearCtrl.next()' style="cursor: pointer;"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
    </ul>
</nav>
<div ng-if="showDebug">
    <hr/>
    Debug View:
    <pre>data={{costcalculationYearCtrl.data| json}}</pre>
</div>
