<div ng-if='costCenterCtrl.storing'>
    <div class="container" id="parent">
        <div class="row">
            <div class="col-lg-12">
                <div class="row ">
                    <div class="col-md-4 col-md-offset-4 alert alert-warning text-center">Saving...</div>
                </div>
            </div>
        </div>
    </div>

</div>
<div ng-if='!costCenterCtrl.storing'>
    <table class="table table-hover table-bordered table-condensed table-striped table-responsive">
        <thead>
            <tr>
                <th nowrap></th>
                <th>Name</th>
                <th>Filter</th>
                <th nowrap></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in costCenterCtrl.data" ng-show='costCenterCtrl.showRow(c)'>
                <td nowrap>
                    <span style="cursor: pointer;" class="glyphicon glyphicon-plus"  ng-click='costCenterCtrl.selectRow(c)' ng-if="c.list"></span>
                </td>
                <td class="col-md-1"><div contenteditable="true" ng-class="c.parent ? 'text-right' : 'text-left'" ng-model="c.name"></div></td>
                <td class="col-md-11"><div contenteditable="true" ng-model="c.filter"></div></td>
                <td nowrap>
                    <span style="cursor: pointer;" class="glyphicon glyphicon-trash" ng-click='costCenterCtrl.delete(c)'></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group">
        <button ng-click='costCenterCtrl.store()' class='btn btn-primary'> save </button>
        <button ng-click='costCenterCtrl.revert()' class='btn'> revert </button>
        <button ng-click='costCenterCtrl.add()' class='btn btn-default'> add </button>
    </div>
</div>
<hr/>
<div class="hero-unit">
    <p>
        <input id="rname" name="costCenterCtrl.regexp" type="text" placeholder="RegExp" class="form-control" ng-model="costCenterCtrl.regexp">
        <input id="tname" name="costCenterCtrl.text" type="text" placeholder="Text" class="form-control" ng-model="costCenterCtrl.text" ng-class="costCenterCtrl.result">
    </p>
    <div class="btn-group">
        <button ng-click='costCenterCtrl.match()' class='btn btn-primary'> test </button>
    </div>
</div>
<script type="text/ng-template" id="addTemplateId">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <form class="form-horizontal" method="post">
              <fieldset>
                  <legend class="text-center header">New CostCenter</legend>

                  <div class="form-group">
                      <div class="col-md-3">
                          <label>Parent CostCenter</label>
                      </div>
                      <div class="col-md-8">
                          <select ng-model="parent.costcenter" ng-options="c.name for c in costcenters">
                              <option value=""/>
                          </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-md-3">
                          <label>Name</label>
                      </div>
                      <div class="col-md-8">
                          <input id="fname" name="costcenter.name" type="text" placeholder="Name" class="form-control" ng-model="costcenter.name">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-md-3">
                          <label>Filter</label>
                      </div>
                      <div class="col-md-8">
                          <input id="ffilter" name="costcenter.filter" type="text" placeholder="Filter" class="form-control" ng-model="costcenter.filter">
                      </div>
                  </div>
              </fieldset>
          </form>
        </div>
        <div class="btn-group">
          <button class='btn btn-primary' ng-click="ok()">Ok</button>
          <button class='btn btn-default' ng-click="closeThisDialog()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</script>
<div ng-if="showDebug">
    <hr/>
    Debug View:
    <pre>data={{costCenterCtrl.data| json}}</pre>
</div>
