<div class="container">
  <form class="form-horizontal" method="post">
    <fieldset>
      <legend class="text-center header">Search transactions</legend>

      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label>Other Account Number</label>
          </div>
          <div class="col-md-9">
            <input ng-model='searchCtrl.search.accountNumber' />
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Other Account Name</label>
          </div>
          <div class="col-md-9">
            <input ng-model='searchCtrl.search.accountName' />
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Description</label>
          </div>
          <div class="col-md-9">
            <input size="100%" ng-model='searchCtrl.search.description' />
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Amount</label>
          </div>
          <div class="col-md-4">
            <input ng-model='searchCtrl.search.amountFrom' />
          </div>
          <div class="col-md-5">
            <input ng-model='searchCtrl.search.amountTo' />
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Date</label>
          </div>
          <div class="col-md-4">
            <input ng-model='searchCtrl.search.dateFrom' />
          </div>
          <div class="col-md-5">
            <input ng-model='searchCtrl.search.dateTo' />
          </div>
        </div>
      </div>
    </fieldset>
    <div class="btn-group">
      <button ng-click='searchCtrl.refresh()' class='btn btn-primary'> search </button>
      <button ng-if="searchCtrl.data !== undefined" ng-click='searchCtrl.selectCostCenter()' class='btn'> set cost
        center </button>
    </div>
  </form>
</div>



<div ng-if="searchCtrl.data !== undefined">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-9">
        <table class="table table-hover table-bordered table-condensed table-striped table-responsive ">
          <thead>
            <tr>
              <th>&nbsp</th>
              <th>Date</th>
              <th>Amount</th>
              <th class="screentablet">Description</th>
              <th class="screentablet">Cost Center</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td colspan="2">Total this month</td>
              <td>
                <amount data='{amount:searchCtrl.total}'></amount>
              </td>
            </tr>
          </tfoot>
          <tbody>
            <tr ng-animate="animate" ng-repeat="t in searchCtrl.data.list">
              <td><input type="checkbox" ng-click='searchCtrl.toggleSelected(t.id)'
                  ng-checked='searchCtrl.isSelected(t.id)' /></td>
              <td ng-class="t.matched ? 'matched' : 'unmatched'" nowrap ng-click="searchCtrl.displayTransaction(t)">
                {{t.date | date:shortDate}}</td>
              <td ng-class="t.matched ? 'matched' : 'unmatched'" ng-click="searchCtrl.displayTransaction(t)">
                <amount data='t.amount' />
              </td>
              <td class="screentablet" ng-class="t.matched ? 'matched' : 'unmatched'"
                ng-click="searchCtrl.displayTransaction(t)">{{t.contraAccountName}}</td>
              <td class="screentablet" ng-class="t.matched ? 'matched' : 'unmatched'"
                ng-click="searchCtrl.displayTransaction(t)">{{t.costcenter}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="setCostCenterTemplateId">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <form class="form-horizontal" method="post">
              <fieldset>
                  <legend class="text-center header">Set CostCenter</legend>

                  <div class="form-group">
                      <div class="col-md-3">
                          <label>Select CostCenter</label>
                      </div>
                      <div class="col-md-12">
                          <select ng-model="parent.costcenter" ng-options="c.label for c in costcenters">
                              <option value=""/>
                          </select>
                      </div>
                  </div>
              </fieldset>
          </form>
        </div>
        <div class="btn-group">
          <button class='btn btn-primary' ng-click="ok()">Ok</button>
          <button class='btn btn-default' ng-click="closeThisDialog()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="displayTransactionTemplateId">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-align-center" ><label>Transaction details</label></div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-2">Date</div>
        <div class="col-md-10">{{transaction.date | date:shortDate}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Amount</div>
      <div class="col-md-1"><amount data='transaction.amount'/></div>
    </div>
    <div class="row">
      <div class="col-md-2">Description</div>
      <div class="col-md-10">{{transaction.description}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Other Account</div>
      <div class="col-md-10">{{transaction.contraAccountNumber}} - {{transaction.contraAccountName}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Code</div>
      <div class="col-md-10">{{transaction.code}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Type</div>
      <div class="col-md-10">{{transaction.mutatiesoort}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Fixed costcenter</div>
      <div class="col-md-10">{{transaction.costCenterName}}</div>
    </div>
  </div>
  <div class="container">
    <div class="btn-group">
      <button class='btn btn-primary' ng-click="ok()">Close</button>
      <button ng-if="transaction.costCenterName" class='btn btn-default' ng-click="clearCostCenter()">Clear costcenter</button>
    </div>
  </div>
</script>
<div ng-if="showDebug">
  <hr />
  Debug View:
  <pre>data={{searchCtrl.data| json}}</pre>
</div>
