
<div class="container">
  <div class="row">
    <div class="row justify-content-md-center">
      <div class="col col-lg-9">

        <ul class="pagination .pagination-lg">
          <li><a ng-click='transactionCtrl.previous()' style="cursor: pointer;"><span
                aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
          <li><a ng-click='transactionCtrl.next()' style="cursor: pointer;"><span aria-hidden="true">&raquo;</span><span
                class="sr-only">Next</span></a></li>
        </ul>
        <p>{{transactionCtrl.range.start| date : shortDate}}&nbsp;-&nbsp;{{transactionCtrl.range.end| date : shortDate}}
        </p>
        <label for="all">show all</label>&nbsp;<input type="checkbox" name="all" ng-model="transactionCtrl.showall" />
        <div class="btn-group">
          <button ng-click='transactionCtrl.selectCostCenter()' class='btn btn-primary'> set cost center </button>
          <button ng-click='transactionCtrl.refresh()' class='btn'> refresh </button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div ng-if="transactionCtrl.data === undefined">
  <div class="container" id="parent">
    <div class="row">
      <div class="col-lg-12">
        <div class="row ">
          <div class="col-md-4 col-md-offset-4 alert alert-warning text-center">Loading...</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="transactionCtrl.data !== undefined">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-9">
        <table class="table table-hover table-bordered table-condensed table-striped table-responsive ">
          <thead>
            <tr>
              <th>&nbsp</th>
              <th>Date</th>
              <th>Amount</th>
              <th class="screentablet">Description</th>
              <th ng-if="transactionCtrl.showall" class="screentablet">Cost Center</th>
            </tr>
          </thead>
          <tbody ng-if="!transactionCtrl.showall">
            <tr ng-if="!t.matched" ng-repeat="t in transactionCtrl.data.list">
              <td><input type="checkbox" ng-click='transactionCtrl.toggleSelected(t.id)'
                  ng-checked='transactionCtrl.isSelected(t.id)' /></td>
              <td nowrap ng-click="transactionCtrl.displayTransaction(t)">{{t.date | date:shortDate}}</td>
              <td ng-click="transactionCtrl.displayTransaction(t)">
                <amount data='t.amount' />
              </td>
              <td class="screentablet" ng-click="transactionCtrl.displayTransaction(t)">{{t.contraAccountName}}</td>
            </tr>
            <tr>
              <td colspan="2">Total this month</td>
              <td>
                <amount data='{amount:transactionCtrl.total}'></amount>
              </td>
            </tr>
          </tbody>
          <tbody ng-if="transactionCtrl.showall">
            <tr ng-animate="animate" ng-repeat="t in transactionCtrl.data.list">
              <td><input type="checkbox" ng-click='transactionCtrl.toggleSelected(t.id)'
                  ng-checked='transactionCtrl.isSelected(t.id)' /></td>
              <td ng-class="t.matched ? 'matched' : 'unmatched'" nowrap
                ng-click="transactionCtrl.displayTransaction(t)">{{t.date | date:shortDate}}</td>
              <td ng-class="t.matched ? 'matched' : 'unmatched'" ng-click="transactionCtrl.displayTransaction(t)">
                <amount data='t.amount' />
              </td>
              <td class="screentablet" ng-class="t.matched ? 'matched' : 'unmatched'"
                ng-click="transactionCtrl.displayTransaction(t)">{{t.contraAccountName}}</td>
              <td class="screentablet" ng-class="t.matched ? 'matched' : 'unmatched'"
                ng-click="transactionCtrl.displayTransaction(t)">{{t.costcenter}}</td>
            </tr>
            <tr>
              <td colspan="2">Total this month</td>
              <td>
                <amount data='{amount:transactionCtrl.total}'></amount>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="row justify-content-md-center">
      <div class="col col-lg-9">

        <nav>
          <ul class="pagination .pagination-lg">
            <li><a ng-click='transactionCtrl.previous()' style="cursor: pointer;"><span
                  aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
            <li><a ng-click='transactionCtrl.next()' style="cursor: pointer;"><span
                  aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="setCostCenterTemplateId">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <form class="form-horizontal" method="post">
              <fieldset>
                  <legend class="text-center header">Set CostCenter</legend>

                  <div class="form-group">
                      <div class="col-md-3">
                          <label>Select CostCenter</label>
                      </div>
                      <div class="col-md-12">
                          <select ng-model="parent.costcenter" ng-options="c.label for c in costcenters">
                              <option value=""/>
                          </select>
                      </div>
                  </div>
              </fieldset>
          </form>
        </div>
        <div class="btn-group">
          <button class='btn btn-primary' ng-click="ok()">Ok</button>
          <button class='btn btn-default' ng-click="closeThisDialog()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="displayTransactionTemplateId">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-align-center" ><label>Transaction details</label></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">To account</div>
    </div>
    <div class="row">
      <div class="col-md-10">{{transaction.contraAccountName}}</div>
      <div class="col-md-2"><amount data='transaction.amount'/></div>
    </div>
    <div class="row">
      <div class="col-md-12">{{transaction.contraAccountNumber}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Description</div>
    </div>
    <div class="row">
      <div class="col-md-12">{{transaction.description}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Date</div>
      <div class="col-md-10">{{transaction.date | date:shortDate}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Code</div>
      <div class="col-md-10">{{transaction.code}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Type</div>
      <div class="col-md-10">{{transaction.mutatiesoort}}</div>
    </div>
    <div class="row" ng-if="transaction.costCenterName">
      <div class="col-md-2">Fixed costcenter</div>
      <div class="col-md-10">{{transaction.costCenterName}}</div>
    </div>
  </div>
  <div class="container">
    <div class="btn-group">
      <button class='btn btn-primary' ng-click="ok()">Close</button>
      <button ng-if="transaction.costCenterName" class='btn btn-default' ng-click="clearCostCenter()">Clear costcenter</button>
    </div>
  </div>
</script>
<div ng-if="showDebug">
  <hr />
  Debug View:
  <pre>data={{transactionCtrl.data| json}}</pre>
</div>
