<!DOCTYPE html>
<html>
    <head>
        <title>CSV Transactions Upload Servlet</title>
    </head>
    <body>
        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>
    </body>
</html>
